M2B Launcher/M2BCenter/Web References/LauncherWebService/tmtLauncherWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RegisterNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="regInfo" type="tns:UserRegistrationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserRegistrationInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="usersCompany" type="tns:Company" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Solt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="id_Company" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Password1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GUID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="isAdmin" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="isSubmit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="isCompanyAdmin" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Company">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentBalance" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyUID" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterNewUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogOnResult" type="tns:Token" />
            <s:element minOccurs="0" maxOccurs="1" name="currUserInfo" type="tns:UserRegistrationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Token">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="internalData" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="internalDataU" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogOff">
        <s:complexType />
      </s:element>
      <s:element name="LogOffResponse">
        <s:complexType />
      </s:element>
      <s:element name="MakeSomeAction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="1" maxOccurs="1" name="param1" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeSomeActionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakeSomeActionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegistrationInfoByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegistrationInfoByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegistrationInfoByUserIdResult" type="tns:UserRegistrationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APPS_GetAppsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APPS_GetAppsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APPS_GetAppsListResult" type="tns:ArrayOfAppsDataModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAppsDataModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AppsDataModel" nillable="true" type="tns:AppsDataModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AppsDataModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AppID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppShortcut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Banner250x250URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Banner100x100URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScreenshotsURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActualFileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="counterInstall" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_category" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ScreenshotsCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ActualVersion" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSetupRequired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUpdateRequired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="InstalledVersion" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrUserRate" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="APPS_GetUserApps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="APPS_GetUserAppsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APPS_GetUserAppsResult" type="tns:ArrayOfAppsDataModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDownloadedFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDownloadedFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDownloadedFileInfoResult" type="tns:FileInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FilesToDownloadPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileSize" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ChunkSize" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ChunkCount" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDownloadedFileChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="chunkNumber" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDownloadedFileChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDownloadedFileChunkResult" type="tns:ChunkInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChunkInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CurrChunkNumber" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrChunkSize" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ChunkData" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDownloadedFileCRC32Hash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDownloadedFileCRC32HashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDownloadedFileCRC32HashResult" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="1" maxOccurs="1" name="AppID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppInfoResult" type="tns:AppsDataModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsInstalledApplicationForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="appId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsInstalledApplicationForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsInstalledApplicationForUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallApplicationForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="appId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallApplicationForUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="UninstallApplicationForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="appId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UninstallApplicationForUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetShopApplicationsInfoForCustomUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShopApplicationsInfoForCustomUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShopApplicationsInfoForCustomUserResult" type="tns:ArrayOfAppsDataModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstalledApplicationsInfoForCustomUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstalledApplicationsInfoForCustomUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInstalledApplicationsInfoForCustomUserResult" type="tns:ArrayOfAppsDataModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllApplicationsInfoForCustomUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="st" type="tns:Token" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllApplicationsInfoForCustomUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllApplicationsInfoForCustomUserResult" type="tns:ArrayOfAppsDataModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterNewUser" />
  </wsdl:message>
  <wsdl:message name="RegisterNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="LogOnSoapIn">
    <wsdl:part name="parameters" element="tns:LogOn" />
  </wsdl:message>
  <wsdl:message name="LogOnSoapOut">
    <wsdl:part name="parameters" element="tns:LogOnResponse" />
  </wsdl:message>
  <wsdl:message name="LogOffSoapIn">
    <wsdl:part name="parameters" element="tns:LogOff" />
  </wsdl:message>
  <wsdl:message name="LogOffSoapOut">
    <wsdl:part name="parameters" element="tns:LogOffResponse" />
  </wsdl:message>
  <wsdl:message name="MakeSomeActionSoapIn">
    <wsdl:part name="parameters" element="tns:MakeSomeAction" />
  </wsdl:message>
  <wsdl:message name="MakeSomeActionSoapOut">
    <wsdl:part name="parameters" element="tns:MakeSomeActionResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegistrationInfoByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegistrationInfoByUserId" />
  </wsdl:message>
  <wsdl:message name="GetRegistrationInfoByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegistrationInfoByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="APPS_GetAppsListSoapIn">
    <wsdl:part name="parameters" element="tns:APPS_GetAppsList" />
  </wsdl:message>
  <wsdl:message name="APPS_GetAppsListSoapOut">
    <wsdl:part name="parameters" element="tns:APPS_GetAppsListResponse" />
  </wsdl:message>
  <wsdl:message name="APPS_GetUserAppsSoapIn">
    <wsdl:part name="parameters" element="tns:APPS_GetUserApps" />
  </wsdl:message>
  <wsdl:message name="APPS_GetUserAppsSoapOut">
    <wsdl:part name="parameters" element="tns:APPS_GetUserAppsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDownloadedFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDownloadedFileInfo" />
  </wsdl:message>
  <wsdl:message name="GetDownloadedFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDownloadedFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDownloadedFileChunkSoapIn">
    <wsdl:part name="parameters" element="tns:GetDownloadedFileChunk" />
  </wsdl:message>
  <wsdl:message name="GetDownloadedFileChunkSoapOut">
    <wsdl:part name="parameters" element="tns:GetDownloadedFileChunkResponse" />
  </wsdl:message>
  <wsdl:message name="GetDownloadedFileCRC32HashSoapIn">
    <wsdl:part name="parameters" element="tns:GetDownloadedFileCRC32Hash" />
  </wsdl:message>
  <wsdl:message name="GetDownloadedFileCRC32HashSoapOut">
    <wsdl:part name="parameters" element="tns:GetDownloadedFileCRC32HashResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppInfo" />
  </wsdl:message>
  <wsdl:message name="GetAppInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IsInstalledApplicationForUserSoapIn">
    <wsdl:part name="parameters" element="tns:IsInstalledApplicationForUser" />
  </wsdl:message>
  <wsdl:message name="IsInstalledApplicationForUserSoapOut">
    <wsdl:part name="parameters" element="tns:IsInstalledApplicationForUserResponse" />
  </wsdl:message>
  <wsdl:message name="InstallApplicationForUserSoapIn">
    <wsdl:part name="parameters" element="tns:InstallApplicationForUser" />
  </wsdl:message>
  <wsdl:message name="InstallApplicationForUserSoapOut">
    <wsdl:part name="parameters" element="tns:InstallApplicationForUserResponse" />
  </wsdl:message>
  <wsdl:message name="UninstallApplicationForUserSoapIn">
    <wsdl:part name="parameters" element="tns:UninstallApplicationForUser" />
  </wsdl:message>
  <wsdl:message name="UninstallApplicationForUserSoapOut">
    <wsdl:part name="parameters" element="tns:UninstallApplicationForUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetShopApplicationsInfoForCustomUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetShopApplicationsInfoForCustomUser" />
  </wsdl:message>
  <wsdl:message name="GetShopApplicationsInfoForCustomUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetShopApplicationsInfoForCustomUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetInstalledApplicationsInfoForCustomUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetInstalledApplicationsInfoForCustomUser" />
  </wsdl:message>
  <wsdl:message name="GetInstalledApplicationsInfoForCustomUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetInstalledApplicationsInfoForCustomUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllApplicationsInfoForCustomUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllApplicationsInfoForCustomUser" />
  </wsdl:message>
  <wsdl:message name="GetAllApplicationsInfoForCustomUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllApplicationsInfoForCustomUserResponse" />
  </wsdl:message>
  <wsdl:portType name="tmtLauncherWebServiceSoap">
    <wsdl:operation name="RegisterNewUser">
      <wsdl:input message="tns:RegisterNewUserSoapIn" />
      <wsdl:output message="tns:RegisterNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <wsdl:input message="tns:LogOnSoapIn" />
      <wsdl:output message="tns:LogOnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <wsdl:input message="tns:LogOffSoapIn" />
      <wsdl:output message="tns:LogOffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MakeSomeAction">
      <wsdl:input message="tns:MakeSomeActionSoapIn" />
      <wsdl:output message="tns:MakeSomeActionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationInfoByUserId">
      <wsdl:input message="tns:GetRegistrationInfoByUserIdSoapIn" />
      <wsdl:output message="tns:GetRegistrationInfoByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="APPS_GetAppsList">
      <wsdl:input message="tns:APPS_GetAppsListSoapIn" />
      <wsdl:output message="tns:APPS_GetAppsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="APPS_GetUserApps">
      <wsdl:input message="tns:APPS_GetUserAppsSoapIn" />
      <wsdl:output message="tns:APPS_GetUserAppsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedFileInfo">
      <wsdl:input message="tns:GetDownloadedFileInfoSoapIn" />
      <wsdl:output message="tns:GetDownloadedFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedFileChunk">
      <wsdl:input message="tns:GetDownloadedFileChunkSoapIn" />
      <wsdl:output message="tns:GetDownloadedFileChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedFileCRC32Hash">
      <wsdl:input message="tns:GetDownloadedFileCRC32HashSoapIn" />
      <wsdl:output message="tns:GetDownloadedFileCRC32HashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppInfo">
      <wsdl:input message="tns:GetAppInfoSoapIn" />
      <wsdl:output message="tns:GetAppInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsInstalledApplicationForUser">
      <wsdl:input message="tns:IsInstalledApplicationForUserSoapIn" />
      <wsdl:output message="tns:IsInstalledApplicationForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InstallApplicationForUser">
      <wsdl:input message="tns:InstallApplicationForUserSoapIn" />
      <wsdl:output message="tns:InstallApplicationForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UninstallApplicationForUser">
      <wsdl:input message="tns:UninstallApplicationForUserSoapIn" />
      <wsdl:output message="tns:UninstallApplicationForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShopApplicationsInfoForCustomUser">
      <wsdl:input message="tns:GetShopApplicationsInfoForCustomUserSoapIn" />
      <wsdl:output message="tns:GetShopApplicationsInfoForCustomUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInstalledApplicationsInfoForCustomUser">
      <wsdl:input message="tns:GetInstalledApplicationsInfoForCustomUserSoapIn" />
      <wsdl:output message="tns:GetInstalledApplicationsInfoForCustomUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllApplicationsInfoForCustomUser">
      <wsdl:input message="tns:GetAllApplicationsInfoForCustomUserSoapIn" />
      <wsdl:output message="tns:GetAllApplicationsInfoForCustomUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tmtLauncherWebServiceSoap" type="tns:tmtLauncherWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterNewUser">
      <soap:operation soapAction="http://tempuri.org/RegisterNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <soap:operation soapAction="http://tempuri.org/LogOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap:operation soapAction="http://tempuri.org/LogOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeSomeAction">
      <soap:operation soapAction="http://tempuri.org/MakeSomeAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationInfoByUserId">
      <soap:operation soapAction="http://tempuri.org/GetRegistrationInfoByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APPS_GetAppsList">
      <soap:operation soapAction="http://tempuri.org/APPS_GetAppsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APPS_GetUserApps">
      <soap:operation soapAction="http://tempuri.org/APPS_GetUserApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedFileInfo">
      <soap:operation soapAction="http://tempuri.org/GetDownloadedFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedFileChunk">
      <soap:operation soapAction="http://tempuri.org/GetDownloadedFileChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedFileCRC32Hash">
      <soap:operation soapAction="http://tempuri.org/GetDownloadedFileCRC32Hash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppInfo">
      <soap:operation soapAction="http://tempuri.org/GetAppInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsInstalledApplicationForUser">
      <soap:operation soapAction="http://tempuri.org/IsInstalledApplicationForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallApplicationForUser">
      <soap:operation soapAction="http://tempuri.org/InstallApplicationForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UninstallApplicationForUser">
      <soap:operation soapAction="http://tempuri.org/UninstallApplicationForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShopApplicationsInfoForCustomUser">
      <soap:operation soapAction="http://tempuri.org/GetShopApplicationsInfoForCustomUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstalledApplicationsInfoForCustomUser">
      <soap:operation soapAction="http://tempuri.org/GetInstalledApplicationsInfoForCustomUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApplicationsInfoForCustomUser">
      <soap:operation soapAction="http://tempuri.org/GetAllApplicationsInfoForCustomUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tmtLauncherWebServiceSoap12" type="tns:tmtLauncherWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterNewUser">
      <soap12:operation soapAction="http://tempuri.org/RegisterNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <soap12:operation soapAction="http://tempuri.org/LogOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap12:operation soapAction="http://tempuri.org/LogOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeSomeAction">
      <soap12:operation soapAction="http://tempuri.org/MakeSomeAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationInfoByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetRegistrationInfoByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APPS_GetAppsList">
      <soap12:operation soapAction="http://tempuri.org/APPS_GetAppsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APPS_GetUserApps">
      <soap12:operation soapAction="http://tempuri.org/APPS_GetUserApps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedFileInfo">
      <soap12:operation soapAction="http://tempuri.org/GetDownloadedFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedFileChunk">
      <soap12:operation soapAction="http://tempuri.org/GetDownloadedFileChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedFileCRC32Hash">
      <soap12:operation soapAction="http://tempuri.org/GetDownloadedFileCRC32Hash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppInfo">
      <soap12:operation soapAction="http://tempuri.org/GetAppInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsInstalledApplicationForUser">
      <soap12:operation soapAction="http://tempuri.org/IsInstalledApplicationForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallApplicationForUser">
      <soap12:operation soapAction="http://tempuri.org/InstallApplicationForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UninstallApplicationForUser">
      <soap12:operation soapAction="http://tempuri.org/UninstallApplicationForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShopApplicationsInfoForCustomUser">
      <soap12:operation soapAction="http://tempuri.org/GetShopApplicationsInfoForCustomUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstalledApplicationsInfoForCustomUser">
      <soap12:operation soapAction="http://tempuri.org/GetInstalledApplicationsInfoForCustomUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApplicationsInfoForCustomUser">
      <soap12:operation soapAction="http://tempuri.org/GetAllApplicationsInfoForCustomUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tmtLauncherWebService">
    <wsdl:port name="tmtLauncherWebServiceSoap" binding="tns:tmtLauncherWebServiceSoap">
      <soap:address location="http://localhost:4481/tmtLauncherWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="tmtLauncherWebServiceSoap12" binding="tns:tmtLauncherWebServiceSoap12">
      <soap12:address location="http://localhost:4481/tmtLauncherWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>